.header {
  padding: 20px 0;
  background-color: rgb(192, 192, 192);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link,
.header__logo-link {
  margin-right: 25px;
  color: #000;
  text-decoration: none;
  transition: 0.3s ease;
}

.header__link:hover,
.header__logo-link:hover {
  color: rgb(243, 56, 56);
}

.header__link:last-child {
  margin-right: 0;
}

.header__logo-link {
  font-size: 22px;
}
