.account__title {
  font-size: 28px;
}

.account__text {
  font-size: 20px;
}

.account__text .text {
  padding: 0 14px;
  margin-top: 9px;
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.account__input input {
  padding: 0 14px !important;
}
.account__wrapper .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  display: block !important;
  margin-top: 9px !important;
}

.account__save {
  margin-bottom: 15px !important;
}
